
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Parker Burgers</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <main>
            <p>Please select a burger</p>
            <div id="myID" >
                <!-- <template v-for="burger in burgers"> -->
                    <!-- <p>{{burger.name}}</p> -->
                    <!-- <ol> -->
                        <!-- <li v-if="burger.containsGluten"> -->
                        <!-- Contains Gluten -->
                        <!-- </li> -->
                        <!-- <li>   <div> -->
                                <!-- {{burger.kCal}} -->
                        <!-- </li> -->
                    <!-- </ol> -->
                    <!-- </div> -->
                <!-- </template> -->
            </div>
            <section id="burger-selection">
                <header>
                    <h1>Parker Burgers</h1>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.dairyqueen.com%2FGlobal%2FFood%2FBurger_GrillBurger_Qtr-Cheese.jpg%3Fwidth%3D180%26height%3D0&f=1&nofb=1" alt="owee" />
                </header>
                <h2>Select burger</h2>
                <div class="wrapper">

                        <div class="box oreo">
                            <h3>Burger Oreo</h3>
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FV2Uu3G6Awxg%2Fmaxresdefault.jpg&f=1&nofb=1"
                                 alt="Burger Oreos"
                                 height="300rem">
                            <ol>
                                <li>Artificially Flavoured!</li>
                                <li>Limited Edition!</li>
                                <li>Made with ground beef</li>
                                <li>Only non-glutenfree</li>
                                <span class="allergy-info"><li>Not for vegetarians</li></span>
                                <span class="allergy-info"><li>very lactose</li></span>
                            </ol>
                        </div>
                        <div class="box mega">
                            <h3>Mega Burger</h3>
                            <img src="http://3.bp.blogspot.com/_uSukkBNulxg/So7HxBI6kEI/AAAAAAAADo0/C8lo6tRh-I8/s400/AmericanBurgerChips.jpg"
                                 alt="Mega Burgers"
                                 height="300rem"/>
                            <ol>
                                <li>Murican Flavour</li>
                                <li>Very Large</li>
                                <li>Crunchy!</li>
                                <span class="allergy-info"><li>Gluten Free</li></span>
                                <span class="allergy-info"><li>Vegetarian</li></span>
                            </ol>
                        </div>

                        <div class="box ufo">
                            <h3>UFO</h3>
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F3fli9w4dgkipni0u2per21bw-wpengine.netdna-ssl.com%2Fwp-content%2Fuploads%2F2016%2F02%2F049-UFO%25E2%2580%2599s-Burger-Flavor-MI-0076-1024x682.jpg&f=1&nofb=1"
                                 alt="Unidentified flying object"
                                 height="300rem"/>
                            <ol>
                                <li>Unidentifiable!</li>
                                <li>Unusual Flavour!</li>
                                <li>??</li>
                            </ol>
                        </div>

                </div>
            </section>
            <section id="contact-information-sec">
                <p>Please enter some information so that you can order a burger</p>
                <h2>
                    <form>Enter Customer Information
                        <p>
                            <label for="fullname">Full Name</label><br>
                            <input type="text" id="fullname" name="fn" required="required" placeholder="Full name" />
                        </p>
                        <p>
                            <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
                        </p>
                        <p>
                            <label for="address">Street Address</label><br>
                            <input type="text" id="address" name="address" required="required" placeholder="Address" />
                        </p>
                        <p>
                            <label for="housenumber">House</label><br>
                            <input type="text" id="housenumber" name="housenumber"
                                   required="required" placeholder="House Number" />
                        </p>
                        <p>
                            <input type="radio" name="gender" value="Female" id="genderF" /> <label for="genderF">Male</label> <br/>
                            <input type="radio" name="gender" value="Male" id="genderM" /><label for="genderM">Female</label><br/>
                            <input type="radio" name="gender" checked="checked"
                                   value="Do not wish to provide" id="genderN" /><label for="genderN">Do
                                not wish to provide</label><br/>
                        </p>
                        <p>
                            <label for="paymentmethod">Choose Payment Method</label><br/>
                            <select id="paymentmethod" name="paymentmethod">
                                <option>Cash</option>
                                <option>Liberapay</option>
                                <option>Bank transaction</option>
                            </select>
                        </p>
                        <button type="submit"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmrayton.files.wordpress.com%2F2012%2F07%2Fred-submit-button-hi.png&f=1&nofb=1"
                                                   alt="Submit"
                                                   height="50rem"/></button>

                    </form>
                </h2>
            </section>
        </main>
        <footer>
        </footer>
        <script src="http://localhost:8080/skewer"></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/js_script.js"></script>
        <script src="vue_script.js"></script>
    </body>
</html>
