
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <section>
                <h1>Burger Heaven</h1>
                <h2>Select burger</h2>
                <h3>Burger Oreo</h3>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FV2Uu3G6Awxg%2Fmaxresdefault.jpg&f=1&nofb=1"
                     width="300rem">
            </section>
            <section>
                <p>Please select a burger</p>
                <h2>Enter Customer Information</h2>
            </section>
            <p>Please enter some information so that you can order a burger</p>
        </main>
        <footer>
        </footer>
    </body>
</html>
