
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <section>
                <h1>Burger Heaven</h1>
                <h2>Select burger</h2>
            </section>
            <section>
                <p>Please select a burger</p>
                <h2>Enter Customer Information</h2>
            </section>
            <p>Please enter some information so that you can order a burger</p>
        </main>
        <footer>
        </footer>
    </body>
</html>
