body {
    font-family: arial;
    font-size: 1.5em;
}
html {
    padding: 10%;
}

#burger-selection {
    background-color: #000000;
    color: #ffffff;

}

#contact-information-sec {
   
}

table img {
    max-width: 33vh;
}

.allergy-info {
    font-weight: bold;
}
button {
    marigin: 100%;
}

button:hover {
    cursor: url("https://zulsmktsj2.files.wordpress.com/2011/05/12a34-cur220.gif"), pointer;
}

table {
    width: 80vw;
}

td {
    align-self: center;
}

section {
    padding: 10%;
    border: 2px dotted;
}

header {
    height: 10em;
    overflow: hidden;
    padding: 1em;
}
header h1 {
    position: absolute;
}

header img {
    width: 80vw;
    max-height: 100%;
    height: auto;
    opacity: 0.6;
}

.wrapper {
    display: grid;
}

.box {
}

.oreo {
        grid-column: 2 / span 1;
}

.mega {
        grid-column: 3 / span 1;
}

.ufo {
        grid-column: 4 / span 1;
}
