body {
    font-family: arial;
    font-size: 1.5rem;
}

#burger-selection {
    background-color: #000000;
    color: #ffffff;

}

#contact-information-sec {
   
}

.allergy-info {
    font-weight: bold;
}
button {
    marigin: 100%;
}

button:hover {
    cursor: url("https://zulsmktsj2.files.wordpress.com/2011/05/12a34-cur220.gif"), pointer;
}

table {
    width: 100%;
}

td {
    align-self: center;
}

section {
    padding: 10%;
    border: 2px dotted;
}
